.pie-plot-container {
  height: 320px;
}

.pie-container {

}

.pie-info {
  margin: auto;
  padding-top: 40px;
  margin-left: 110px;
}

.pie-info-container {
  width: 320px;
  height: 320px;
  display: flex;
  position: absolute;
}

.pie-h1 {
}

.pie-h4 {
  width: 140px;
}

.pie-h5 {
  margin-top: 5px;
}
